<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{{message}}</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <!--<a class="mdl-navigation__link" href="">Link 1</a>-->
            </nav>
        </div>
    </header>
    <main id="content" class="mdl-layout__content">
        <div id="messages">
            <div class="mdl-layout__tab-panel is-active" id="all-segments">
                <h1>{{message}}</h1>
                <h2>{{error.status}}</h2>
                <pre>{{error.stack}}</pre>
            </div>
        </div>
    </main>
</div>
