<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Progressive Web App (PWA) for what-if.xkcd.com">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>{{title}}</title>

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="images/what-if.png">

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Material Design Lite">
        <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

        <link rel="manifest" href="/manifest.json">
        <link rel="shortcut icon" href="/favicon.ico">

        <link href="/dialog-polyfill/dialog-polyfill.css" rel="stylesheet">
        <link href="/stylesheets/material-fonts.css" rel="stylesheet">
        <link href="/stylesheets/material-icons.css" rel="stylesheet">
        <link href="/stylesheets/material.teal-pink.min.css" rel="stylesheet" >
        <link href="/stylesheets/mdl.css" rel="stylesheet">
        <link href="/stylesheets/style.css" rel="stylesheet">
    </head>
    <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header mdl-color--primary">
                <div class="mdl-layout__header-row">
                    {{#if backButton}}
                        <div class="demo-back">
                            <a href="/" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" title="go back" role="button">
                                <i class="material-icons" role="presentations">arrow_back</i>
                            </a>
                        </div>
                    {{/if}}
                    <span class="mdl-layout-title">{{title}}</span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a href="https://what-if.xkcd.com" class="mdl-navigation__link" target="_blank">What If? Official Site</a>
                        <a href="https://whatif.xkcd.com/book/" class="mdl-navigation__link" target="_blank">Buy the book!</a>
                    </nav>
                </div>
            </header>
            {{{body}}}
            <footer class="mdl-mega-footer">
                <div class="mdl-mega-footer--middle-section">
                    <div class="mdl-mega-footer--drop-down-section">
                        <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer--heading">What If?</h1>
                        <ul class="mdl-mega-footer--link-list">
                            <li><a href="mailto:whatif@xkcd.com">Submit a Question</a></li>
                            <li><a href="https://what-if.xkcd.com" target="_blank">Official Site</a></li>
                            <li><a href="http://what-if.xkcd.com/feed.atom" target="_blank">Feed</a></li>
                            <li><a href="https://whatif.xkcd.com/book/" target="_blank">Buy the book!</a></li>
                        </ul>
                    </div>
                    <div class="mdl-mega-footer--drop-down-section">
                        <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer--heading">XKCD</h1>
                        <ul class="mdl-mega-footer--link-list">
                            <li><a href="http://xkcd.com/" target="_blank">Comic</a></li>
                            <li><a href="http://store.xkcd.com/" target="_blank">Store</a></li>
                            <li><a href="https://blog.xkcd.com/" target="_blank">Blog</a></li>
                            <li><a href="https://xkcd.com/thing-explainer/" target="_blank">Thing Explainer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="mdl-mega-footer--bottom-section">
                    <div class="mdl-logo">
                        More Information
                    </div>
                    <ul class="mdl-mega-footer--link-list">
                        <li><a href="#" target="_blank">View the code</a></li>
                    </ul>
                </div>
            </footer>
            {{!
            <div class="mdl-snackbar mdl-js-snackbar">
                <div class="mdl-snackbar__text"></div>
                <button type="button" class="mdl-snackbar__action"></button>
            </div>
            }}
        </div>
        <dialog class="mdl-dialog">
            <div class="mdl-dialog__title">
                <a href="javascript:void(0);" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" title="close" role="button">
                    <i class="material-icons" role="presentations">clear</i>
                </a>
            </div>
            <div class="mdl-dialog__content">
                <p id="dialog-content"></p>
            </div>
            <div class="mdl-dialog__actions">
            </div>
        </dialog>
        <script src="/javascripts/material.min.js"></script>
        <script src="/javascripts/jquery-1.8.0.min.js"></script>
        <script src="/javascripts/handlebars.runtime.min.js"></script>
        <script src="/dialog-polyfill/dialog-polyfill.js"></script>
        <script src="/javascripts/card.js"></script>
        <script src="/javascripts/script.js"></script>
    </body>
</html>
